---
// Main index homepage (language-specific)

import { languages } from "../../i18n/languages";
import BaseLayout from "../../layouts/Base.astro";
import "../../styles/global.css";

export function getStaticPaths() {
	// converts languages object keys into an array of lang params
	return Object.keys(languages).map((lang) => ({
		params: { lang }
	}));
}

const { lang } = Astro.params;
---

<BaseLayout>
	<h1>Sette Santi ( {lang} )</h1>
</BaseLayout>
